@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d069a1 url("../image/bg-repeat.jpg") center;
    background-size: contain;
    height: 100vh;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 134px 72px 198px 50px;
}

.texto h1 {
    font-size: 20px;
    font-weight: 900;
}

.texto p {
    font-size: 15px;
    max-width: 297px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 378px;
    background-color: hsl(0, 0%, 100%);
    color: #000;
}

input,
textarea,
button {
    width: 298px;
    height: 35px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    outline: none;
}

.campo-preenchido {
    border: solid 1px #00C22B;
}

.campo-nao-preenchido {
    border: solid 1px #F52E2E; 
}

input:first-child {
    margin-top: 20px;
}

textarea[name="mensagem"] {
    width: 298px;
    resize: none;
    height: 100px;
}

span.orientacao {
    margin: 7px 176px 20px 15px;
    font-size: 15px;
}

.invisivel {
    visibility: hidden;
}

span.mensagem-de-aviso {
    color: #F52E2E;
    font-size: 8px;
    margin: 0px 250px 6px 22px;
}

#botao-de-envio {
    cursor: pointer;
    color: #fff;
    background-color: #3CCC87;
    border: none;
    height: 41px;
    margin: 0px 22px 22px 20px;
}